@model Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary

@{
    ViewData["Title"] = "API Documentation";
}

<h1>API Documentation</h1>
<p>Welcome to the M79 Climbing API. Below are the available endpoints and how to use them.</p>

<h2>1. Get All Times for a Map</h2>
<p><strong>Endpoint:</strong> <code>GET /times/{playerIp}/{playerName}/{mapName}</code></p>
<p><strong>Description:</strong> Retrieves all recorded times   for a given map, filtered by player name or IP.</p>
<p><strong>Ex. Response:</strong></p>
<pre>
Player1 575 2025-02-19
Player1 652 2025-02-18
Player1 743 2025-01-11
</pre>

<h2>2. Get Best Times for a Map</h2>
<p><strong>Endpoint:</strong> <code>GET /besttimes/{mapName}/{x}</code></p>
<p><strong>Description:</strong> Retrieves the top X best times (in soldat server ticks) for a given map.</p>
<p><strong>Ex. Response:</strong></p>
<pre>
Player1 1003 2025-02-19
Player2 1110 2025-01-15
Player3 1150 2025-01-11
</pre>
<h2>Error Handling</h2>
<p>In case of an error, the API returns an appropriate HTTP status code along with an error message.</p>

<p>
    <img src="/images/discord-icon.png" width="50" height="50" />
    Contact <strong>_nequs</strong> on Discord if you have any feedback! 
</p>