@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click the button below to join the server!</p>
    <a class="soldat-button" href="soldat://34.118.30.26:23073">Click to Join!</a>

</div>
