html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    background-image: url('/images/soldatbg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.container {
    color: white;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    color: white;
}

    .navbar-brand:hover {
        color: #BBCC66;
    }

    .navbar-brand:active {
        color: #BBCC66;
    }

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: #BBCC66;
    }

    .nav-link:focus {
        color: white;
    }




.navbar-toggler-icon {
    filter: invert(100%);
    border: none;
}

.navbar-toggler {
    border: none;
}

    .navbar-toggler:focus {
        border-color: transparent !important;
        box-shadow: 0 0 5px transparent;
    }

    .navbar-toggler:active {
        border-color: #BBCC66 !important;
        box-shadow: 0 0 5px #BBCC66;
    }

#a {
    color: white;
}

    #a:hover {
        color: #BBCC66;
        text-decoration-line: none;
    }

    #a:active {
        color: #BBCC66;
        text-decoration-line: none;
    }

/* Leaderboard css */
.leaderboardHeader {
    font-size: 3em;
    text-align: center;
}

.leaderboardDesc {
    font-size: 1em;
    text-align: center;
    margin: 0px;
}

/* Style for the entire table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

    /* Table headers */
    .table thead {
        background-color: transparent;
        text-align: left;
    }

    .table th {
        background-color: transparent;
        padding: 10px;
        font-weight: bold;
        color: white;
        border-bottom: 1px solid #BBCC66;
    }

    /* Table rows */
    .table tbody tr {
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    /* Table data cells */
    .table td {
        background-color: transparent;
        padding: 10px;
        border-bottom: 1px solid #BBCC66;
        color: white
    }

    /* Links inside the table */
    .table a {
        color: white;
        text-decoration: none;
    }

        .table a:hover {
            text-decoration: none;
            color: #BBCC66;
        }

/* Server info shenanigans */

.card {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: -70px;
}

.grid-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.grid-colum-two {
    align-items: flex-end;
    margin-left: 100px;
}

.button-container {
    text-align: center;
}

    .button-container a {
        color: white !important;
        background-color: #252E1C;
        border-color: #BBCC66;
    }

        .button-container a:hover {
            color: #BBCC66 !important;
            border-color: #BBCC66;
        }

.image-container {
    text-align: right;
}

hr.divider {
    border: 0;
    border-top: 2px solid #BBCC66;
}

.description-panel {
    text-align: center;
    margin-top: 20px;
}

/* Server info Logs */

#messagesList::-webkit-scrollbar {
    width: 3px;
}

#messagesList::-webkit-scrollbar-track {
    background: transparent;
}

#messagesList::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px;
}

#messagesList {
    scrollbar-width: thin;
    scrollbar-color: #B7C764 transparent;
}

/* Admin only message input */

#messageInput {
    border: 1px solid #BBCC66;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

    #messageInput::placeholder {
        color: white;
    }

    #messageInput:focus {
        box-shadow: none;
    }

#sendButton {
    width: 100px;
    background-color: #252E1C;
    color: white;
    border: 1px solid #BBCC66;
    padding: 10px;
    border-radius: 5px;
}

    #sendButton:focus {
        box-shadow: none;
    }

    #sendButton:hover {
        color: #BBCC66;
        background-color: transparent;
    }


/*LEADERBOARD ALIGNMENT IMPROVE IT*/
#outter-table-leaderboard {
    width: 100%;
    margin: 5px 0;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed; /* Ensures consistent column width */
}

    #outter-table-leaderboard th, #outter-table-leaderboard td {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid yellow;
        white-space: nowrap; /* Prevents text from wrapping */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #outter-table-leaderboard tr:hover td {
        color: #BBCC66;
    }

    #outter-table-leaderboard th {
        font-weight: bold;
    }

    #outter-table-leaderboard tbody tr td {
        float: left;
        text-align: left;
        width: 432px;
    }

#inner-table-leaderboard {
    display: flex;
    width: 100%;
}


    #inner-table-leaderboard tbody {
        width: 100%;
    }

    #inner-table-leaderboard tr {
        display: flex;
        width: 100%;
    }

    #inner-table-leaderboard td {
        flex-grow: 1;
        width: 400px;
        padding: 0;
    }

        #inner-table-leaderboard td:last-child {
            flex-grow: 1;
            max-width: 420px;
        }

#legend-table-leaderboard th {
    width: 400px;
    border-bottom: 1px solid yellow;
}


@media (max-width:1400px) {
    #outter-table-leaderboard tbody tr td {
        width: 370px;
    }


}
@media (max-width:1200px) {
    #outter-table-leaderboard tbody tr td {
        width: 310px;
    }
}

@media (max-width:1200px) {
    #outter-table-leaderboard tbody tr td {
        width: 310px;
    }
}

@media (max-width:991px) {
    #outter-table-leaderboard tbody tr td {
        width: 230px;
    }
}


@media (max-width:768px) {
    #outter-table-leaderboard tbody tr td {
        width: 150px;
    }
}

@media (max-width:488px) {
    #outter-table-leaderboard tbody tr td {
        width: 120px;
    }
}

/*END LEADERBOARD ALIGNMENT IMPROVE IT*/

/*START player stats changes*/
#player-stat-title {
    text-align: center;
}

#player-stats-statistics {
    width: 100%;
    margin: 0 50px;
}

@media (max-width:991px)
{
    #player-stats-statistics{
        margin: 0 10px;
    }
}

@media (max-width: 768px)
{
    #player-stats-statistics {
        text-align: center;
    }
}
/*END player stats changes*/

/* Remove the default arrow in <summary> */
details summary {
    list-style-type: none;
    cursor: pointer; /* Optional: Make the cursor appear clickable */
}

    /* Change color of <h2> inside <summary> on hover */
    details summary:hover h2 {
        color: #BBCC66; /* Change this to any color you prefer */
    }


/**** Player Page view ****/

.player-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
}





/*********** Change autocomplete styles in WebKit ************

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green !important;
    -webkit-text-fill-color: green !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: #000 !important;
}


********** Additional specific targeting ************

#messageInput:-webkit-autofill {
    background-color: #000 !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
    -webkit-text-fill-color: green !important;
}

********** Force background color ************

input.form-control {
    background-color: transparent !important;
    color: green !important;
}

*************************************************************/
