@{
    ViewData["Title"] = "Map Editor";
}

<!-- 

<div class="button-container">
    <div class="square-button-wrapper">
        <button class="square-button left-button" id="uploadButton" type="button">
            Upload Your Map
        </button>

        <form id="uploadForm" asp-controller="MapEditor" asp-action="Upload" method="post" enctype="multipart/form-data" style="display: none;">
            <input type="file" id="fileInput" name="file" class="form-control" required />
        </form>
    </div>

    <div class="or-text">
        or
    </div>

    <div class="square-button-wrapper">
        <a asp-controller="MapEditor" asp-action="Create" class="square-button right-button">
            Create Your Own
        </a>
    </div>
</div>

<hr class="divider" />


@section Scripts {
    <script src="~/js/MapEditor/Index/fileupload.js"></script>
}

-->